<!doctype html>
<html>
  <head>
      <title>CarrotJuice</title>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
      <style>
          body{ padding-top:80px; }
          .letter_c{color: #FF9900;}
          .letter_j{color: #33CCCC;}
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>
          <span class="fa fa-tree"></span>
            <span class='letter_c'>C</span>arrot
            <span class='letter_j'>J</span>uice
          </span>
        </h1>

        <p>Login with:</p>
        <a href="/login" class="btn btn-default">
          <span class="fa fa-user"></span>
          Login
        </a>
        <a href="/signup" class="btn btn-default">
          <span class="fa fa-user"></span>
          Signup
        </a>
      </div>
    </div>
  </body>
</html>
