div#leaflet-map {
    min-width: 200px;
    min-height: 200px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.carotene-popup .leaflet-popup-tip-container {
    display: none;  /* Kill popup stem/tip thingy. */
}
.carotene-popup .leaflet-popup-content {
    margin: .1em .1em;  /* Smaller margins. */
}
.carotene-popup .leaflet-popup-content-wrapper {
    border-radius: .3em;  /* Smaller radius. */
}
