div#leaflet-map {
    flex-grow: 1;
    min-width: 200px;
    min-height: 200px;
}
.region-popup .leaflet-popup-tip-container {
    display: none;  /* Kill popup stem/tip thingy. */
}
.region-popup .leaflet-popup-content {
    margin: .1em .1em;  /* Smaller margins. */
}
.region-popup .leaflet-popup-content-wrapper {
    border-radius: .3em;  /* Smaller radius. */
}
