div.overlay-controls-box {
    /* relative */
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
    padding: 0 15px 5px 15px;
    box-shadow: 2px 2px 1px grey;
    background-color: #ffffff;
    opacity: 0.8;
}

div.data-source-selector {
    display: inline-block;
}

div.data-source-selector .btn {
    padding: 3px 6px;
    margin: 0 4px 0 4px;
}
