<style>
  .info {
    z-index: 1;
    position: absolute;
    top: 1em;
    left: 1em;
  }
  .info-panel {
    padding: 0.3em;
    margin-bottom: 1em;
    border-radius: .2em;
    background: rgba(244, 244, 244, 1);
  }

  #region-search {
    width: 100%;
  }
  .region-name {
    font-size: 1.5em;
    font-weight: bold;
  }
  .current-date {
    font-size: 1.5em;
  }

  .coloring-selected {
    font-weight: bold;
  }
  .coloring-nonselected {
    background: rgba(220, 220, 220, 1);
  }

  .error {
    color: red;
  }
  .debug {
    z-index: 1;
    display: {{debug_display_value}};
    color: white;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    right: 3em;
    width: 20em;
  }

  .custom-popup .leaflet-popup-tip-container {
    display: none;  // Kill popup stem/tip thingy.
  }
  .custom-popup .leaflet-popup-content {
    margin: .1em .1em;  // Smaller margins.
  }
  .custom-popup .leaflet-popup-content-wrapper {
    border-radius: .3em;  // Smaller radius.
  }
</style>

<!-- TODO(jetpack): make these leaflet controls so e.g. double clicking doesn't zoom the map. -->
<div class="info">
  <!-- TODO(jetpack): Add search! -->
  <div class="info-panel search">
    <input id="region-search" type="text">
  </div>
  <!-- TODO(jetpack): Add population and mosquito prevalence. -->
  <div class="info-panel region-info" ng-show="current_region">
    <div class="region-name">{{current_region.name}}</div>
    <div class="region-pop">Pop. ~population~</div>
    <div class="region-area">Area: {{current_region.geo_area_sqkm | number:0}} km<sup>2</sup></div>
    <div class="region-weather">Weather: {{current_region.temp | number:1}}°C</div>
    <div class="region-prevalence">Mosquito prevalence: ~prevalence~</div>
  </div>
  <!-- TODO(jetpack): Make this nice. -->
  <div class="info-panel coloring-info">
    <select ng-model="coloring_function"
            ng-options="c for c in coloring_function_options"
            ng-change="change_coloring()"></select>
    <div class="{{class_prevalence}}">Infectious mosquito prevalence</div>
    <div class="{{class_oviposition}}">Oviposition rate</div>
    <div class="{{class_population}}">Population density</div>
  </div>
  <!-- TODO(jetpack): Nix this, possibly replace with cases display? -->
  <div class="info-panel current-date" ng-show="current_date">
    <button ng-click="prev_date()">&lt;</button>
    {{iso_to_yyyymmdd(current_date)}}
    <button ng-click="next_date()">&gt;</button>
  </div>

  <!-- TODO(jetpack): Replace with nicer thing. -->
  <img ng-show="num_loading > 0" src="ajax-loader.gif"/>
</div>

<div class="debug">
  <div class="error" ng-show="error_message">{{error_message}}</div>
  date: {{current_date}}<br>
  num_loading: {{num_loading}}<br>
  region_code: {{current_region.region_code}}<br>
  <span ng-repeat="date_temp_pair in current_region_temps">
    {{date_temp_pair[0] | limitTo:-5}}:{{date_temp_pair[1] | number:0}} /
  </span>
</div>

{{redraw_notify()}}
