div.overlay-controls {
    /* relative */
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
}

div.overlay-controls-section {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 2px 2px 1px grey;
    background-color: #ffffff;
    opacity: 0.9;
}
