div.overlay-controls {
    /* relative */
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
}

div.overlay-controls-section {
    margin: 10px;
    padding: 5px 15px 5px 15px;
    box-shadow: 2px 2px 1px grey;
    background-color: #ffffff;
    opacity: 0.9;
}

/* Note! This affects all backbone buttons (e.g. in CountrySelector and
 * DataSourceSelector). The `active` color is the same, but the non-active color
 * is lighter to make it easier to tell what options aren't enabled. */

.overlay-controls .btn-primary {
    background-color: #95aacc;
}

.overlay-controls .btn-primary.active {
    background-color: #204d74;
}
